* {
  margin: 0;
  padding: 0;
}

.home-section1 {
  padding: 60px 300px 0;
  text-align: center;
  margin-top: -2.1rem;
}

.pink-img {
  width: 2085.2px;
  height: 310px;
  margin-left: -38rem;
  position: static;
  opacity: 2;
  margin-top: -4%;
  opacity: 0.85;
}

.home-heading1 {
  color: black;
  font-size: 45px;
  margin-bottom: -2.5em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -110%);
  color: black;
  font-size: 3rem;
  text-align: center;
}

.home-img1 {
  width: 550px;
  height: 350px;
  margin-left: 32.5rem;
  position: relative;
}

.white-img {
  width: 450px;
  height: 250px;
  margin-left: 34rem;
  position: relative;
  opacity: 2;
  margin-top: -4%;
}

.text-on-img {
  position: relative;
  top: -45%;
  left: 200%;
  transform: translate(-79%, -60%);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-size: 2.5rem;
  text-shadow: 2px 2px rgb(210, 206, 206);
  font-weight: 600;
  text-align: center;
}

.home-section2 {
  background-color: white;
  padding: 50px 100px 0;
  margin-top: -32rem;
  margin-left: 12rem;
}

.home-heading2 {
  color: black;
  font-size: 45px;
  margin-bottom: 0.5em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  text-align: justify;
}

.home-section3 {
  background-color: white;
  padding: 50px 100px 0;
  margin-top: 14rem;
  margin-left: 15.5rem;
  text-align: left;
}

.home-heading3 {
  color: black;
  font-size: 45px;
  margin-top: -4.5em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}

.home-button {
    cursor: pointer;
    background-color: rgb(141, 109, 123);
    padding: 20px 50px;
    border-radius: 50px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border-style: none;
    margin-bottom: 1em;
  }

.home-button:hover {
    background-color: rgb(134, 104, 118);
    box-shadow: 0.5px 0.5px 10px 2px rgb(99, 68, 82);
}

.home-button:active {
    color: rgb(99, 68, 82);
    background-color: white;
    box-shadow: none;
  }